<h1>Create a new Image</h1>

<p>this a test</p>


<%= form_for :image, url: images_path do |f| %>
    <%= f.label :description  %> <br>
    <%= f.text_field :description %> <br>
    <%= f.submit %>
<% end %>